
.second-section .containerBoxs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
    border: 3px dotted;
}

.box > .text-container-1 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: brown;
}

.box > span {
    font-size: 20px;
    font-weight: bold;
    color: red;
    display: block;
    text-align: center;
}